<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Доброго времени суток, <span th:text="${name}"></span>!
</p>
<p>
    Вы сделали запрос на <b><span th:text="${#strings.toLowerCase(subject)}"></span></b>. Перейдите по следующей ссылке:
</p>
<p>
    <span th:text="${url}"></span>
</p>

<p>
    Если вы не делали запроса на <span th:text="${#strings.toLowerCase(subject)}"></span>, просто проигнорируйте это письмо.
</p>
<p>
    <em>ZERONE</em>
</p>
</body>
</html>